@model Forum_light.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m=> m.UserName)
    </div>
    <div>
        @Html.LabelFor(m=> m.Password)
        @Html.EditorFor(m=> m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.EditorFor(m => m.ConfirmPassword)
    </div>
    <input type="submit" value="Register" />
}
